*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;

}
@import url('https://fonts.googleapis.com/css2?family=B612+Mono&display=swap');
body {
    background-color:#F3F3F3;
    font-family: 'B612 Mono', monospace;
    font-size: 16px;
}

/* Header Style */
.header {
    padding: 0px;
    background-color: #202020;

}
.header h1 {
    font-size: 40px;
    margin: 0%;
    width: 0%;
    background-color: #707070;
    padding: 10px;
    text-align: left;
    display: inline;
    color: #ffdf6c;
}
/* Header Style */
.header nav ul {
    padding-top: 0px;
    float: right ;
    text-align: center;
    background-color:#202020;
    display: inline-block;
}
.header nav li {
    list-style-type: none;
    margin-right: 30px;
    display: inline-block;
}
.header a {
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 19.5%;
    margin-right: 5%;
    text-align: center;
    line-height: 3;
    color: white;
}

.header a:hover {
    color: #202020;
    background: #F3F3F3;
}
.header nav li a.active {
    background-color: #F3F3F3;
    color: #202020 ;
}
/* Hero Section*/
.hero {
    height: 250px;
    width: 100%;
    margin-bottom: 0;
    background-image: url("../images/eggphotoAdobeStock_284274245.jpeg");
    background-size: cover;
    background-position: center;
}
/*Main content section -- About me from right to left.*/
.container {
    margin-bottom: 15px;
    margin-top: 0;
    padding: 0;
    height: 250 px;
    background-color: #ffdf6c ;
    color: #202020;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container > .image {
    flex: 1;
}
.image > img {
    display: block;
    height: auto;
    width: 100%;
}
.container > .text {
    flex: 3;
}
